.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Hero Section */
.hero-section {
  padding: 3rem 8rem; /* Padding for hero section */
  background-color: #f9f9f9; /* Example background color */
  text-align: left; /* Adjust alignment if needed */
}

/* Featured Properties Section */
.featured-properties-section {
  padding: 3rem 0; /* Padding above and below the grid */
}

/* Footer */
.footer {
  padding: 2rem 8rem; /* Padding for footer */
  margin-top: 3rem; /* Space between grid and footer */
  background-color: #282c34; /* Example footer background color */
  color: white; /* Example footer text color */
  text-align: center; /* Center-align footer content */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}